fastapi[all]
uvicorn[standard]
sqlalchemy
psycopg2-binary # PostgreSQL adapter for Python
passlib[bcrypt] # For password hashing
python-jose[cryptography] # For JWT tokens
python-multipart # For handling form data (needed by fastapi[all] or for OAuth2 password flow)
pydantic-settings # For managing settings/configurations
kafka-python
# confluent-kafka
jinja2
python-multipart # Đã có, nhưng cần cho form HTML
itsdangerous

langchain
langchain-core
langchain-community
langchain-ollama # Để làm việc với Ollama
langchain-openai
langchain-google-genai
# langgraph (nếu bạn muốn sử dụng ngay, nhưng có thể thêm sau khi có nhiều agent)
# PyYAML (nếu bạn định dùng file prompt YAML, cho .txt thì không cần)
GitPython
neo4j>=5.0
tree-sitter
tree-sitter-languages